In [1]:
import pandas as pd
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import yfinance as yf
import pandas_ta as ta
import json
import requests
from yahoofinancials import YahooFinancials

In [2]:
ticker = 'AAPL'
start_date = '2018-01-01'
end_date = '2023-10-01'

start_date_test = '2023-01-01'
end_date_test = '2023-10-01'

In [3]:
def get_stock_data(ticker, start_date, end_date):
    stock_data = yf.download(ticker, start = start_date, end = end_date)
    return stock_data

In [5]:
df = get_stock_data(ticker, start_date, end_date)
df.head()

[*********************100%%**********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close     Volume
Date
2018-01-02  42.540001  43.075001  42.314999  43.064999  40.670979  102223600
2018-01-03  43.132500  43.637501  42.990002  43.057499  40.663891  118071600
2018-01-04  43.134998  43.367500  43.020000  43.257500  40.852772   89738400
2018-01-05  43.360001  43.842499  43.262501  43.750000  41.317902   94640000
2018-01-08  43.587502  43.902500  43.482498  43.587502  41.164440   82271200